.main {
    width: 100%;
    display: flex;
}

.div_date_name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.ttl_name {
    font-size: 3.5rem;
    font-weight: 600;
}

.date {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.div_profile {
    width: auto;
}

.profile {
    width: 57px;
    margin-top: 18%;
    border-radius: 50%;
    background-color: black;
}

@media screen and (max-width: 425px) {
    .ttl_name {
        font-size: 3rem;
        font-weight: 600;
    }

    .date {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 0.9rem;
        gap: 10px;
    }

    .profile {
        width: 47px;
        margin-top: 30%;
        border-radius: 50%;
        background-color: black;
    }
}